{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
    <H1>Change Password</H1>

    <form action="{% url 'change_password' pk=lia.pk %}" method="POST"> {% csrf_token %}
        <label for="password">Current Password: </label>
        <input type="password" name="currentpassword" id="currentpassword" minlength="8">

        <label for="password">New Password: </label>
        <input type="password" name="newpassword" id="newpassword" minlength="8">

        <label for="password">Confirm New Password: </label>
        <input type="password" name="confirmnewpassword" id="confirmnewpassword" minlength="8">
        
        <input type="submit">
    </form>


{% endblock %}